.container {
    background-color: rgb(255, 195, 122);
    margin: 20px 200px;
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    gap: 2px;
    justify-content: space-around;
}

.divChild {
    border: solid 2px black;
    flex: 0 1 8px;
}