.container {
    background-color: rgb(255, 195, 122);
    margin: 20px 200px;
    height: 500px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.divRow {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    align-items: stretch;
}

.divChild {
    border: solid 2px black;
    flex: 1;
}