.container {
    margin: 20px auto;
    max-width: 500px;
    height: 500px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    border: solid 0.5px rgb(189, 189, 189);
}

.divRow {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    align-items: stretch;
}

.divChild {
    border: solid 0.5px rgb(189, 189, 189);
    flex: 1;
}